<style>
    footer {
        background-color: #333333;
        color: #d4d4d4;
        font-size: 14px;
    }

    footer .footerWrap {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    footer h4 {
        border-bottom: 1px dotted #777;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 10px;
        padding-bottom: 10px;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    footer ul li {
        margin-bottom: 5px;
    }

    footer a {
        color: #d4d4d4;
    }

    footer .subFooter {
        color: #d4d4d4;
        font-size: 12px;
        padding: 12px 0;
        background-color: #222;
    }

    footer .subFooter a {
        color: #d4d4d4;
    }
</style>

<footer>
    <!--<div class="container footerWrap">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-3">-->
    <!--<h4>BootstrapBay</h4>-->
    <!--<ul class="list-unstyled">-->
    <!--<li><a href="/sell">Sell Your Themes</a></li>-->
    <!--<li><a href="/affiliate">Affiliates</a></li>-->
    <!--<li><a href="/about">About Us</a></li>-->
    <!--<li><a href="/feed">RSS Feed</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-xs-3">-->
    <!--<h4>Help &amp; Support</h4>-->
    <!--<ul class="list-unstyled">-->
    <!--<li><a href="/faq">FAQ</a></li>-->
    <!--<li><a href="/submission-guidelines">Submission Guidelines</a></li>-->
    <!--<li><a href="/payment-rates">Payment Rates</a></li>-->
    <!--<li><a href="/contact-support">Contact &amp; Support</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-xs-3">-->
    <!--<h4>Resources</h4>-->
    <!--<ul class="list-unstyled">-->
    <!--<li><a href="/blog/what-is-bootstrap">What is Bootstrap?</a></li>-->
    <!--<li><a href="/blog">Blog</a></li>-->
    <!--<li><a href="/blog/bootstrap-resources/">Resource List</a></li>-->
    <!--<li><a href="/blog/category/tutorials/">Tutorials</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-xs-3">-->
    <!--<h4>Social</h4>-->
    <!--<ul class="list-unstyled">-->
    <!--<li><a href="https://www.facebook.com/bootstrapbay" target="_blank">Facebook</a></li>-->
    <!--<li><a href="https://twitter.com/bootstrapbay" target="_blank">Twitter</a></li>-->
    <!--<li><a href="http://www.youtube.com/user/bootstrapbayofficial" target="_blank">YouTube</a></li>-->
    <!--<li><a href="https://plus.google.com/+BootstrapbayThemes/posts" target="_blank">Google+</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="subFooter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        © 2014 <a href="http://noscomedia.com/" target="_blank">Nosco Media Inc.</a> /
                        <a href="/licenses">Licenses</a> /
                        <a href="/terms">Terms &amp; Conditions</a> /
                        <a href="/privacy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
