.bs-docs-header-modules {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  text-align: left;
}
a {
  text-decoration: none;
}
.btn {
  border-radius: 0px !important;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
/*padding: 20px 0 0 20px;*/
  float: left;
  width: 100%;
}
.CodeMirror {
  border: 1px solid #eee;
  height: 200px;
}
.carbonad {
  width: 330px !important;
  margin: 15px auto !important;
  border-width: 1px !important;
  border-radius: 4px;
  border: none !important;
  background: transparent !important;
}
.col-code {
  position: relative;
  margin-bottom: 20px;
}
.col-task .thumbnail {
  height: 125px;
}
.col-code {
  padding: 0;
  margin: 0;
}
.col-code .badge {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 5px;
  background-color: #ddd;
  border-radius: 2px;
}
.thumbnail .top {
  float: right;
  margin: 0 0 0px;
}
.thumbnail .top a {
  text-decoration: none;
}
.thumbnail .caption {
  text-align: center;
  padding: 0px;
  color: #333;
}
.thumbnail hr {
  margin-top: 25px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.container .text-muted {
  margin: 20px 0;
}
