<div class="bs-docs-header bs-docs-header-modules" id="content">
    <div class="container">
        <h1 data-ng-bind="title"></h1>
        <p></p>
    </div>
</div>
<div class="container">
    <tabset>
        <tab heading="General">
            <br/>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="model.name" class="form-control" id="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" data-ng-model="model.description" class="form-control" id="description" placeholder="Description">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Public
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </tab>
        <tab heading="Behaviour" select="selectedTab()">
            <br/>
            <div class="col-sm-offset-11 col-sm-1">
                <button type="submit" class="btn btn-danger" ng-click="tryIt(model)">Try It</button>
            </div>
            <div class="col-md-6 col-code">
                <span class="badge" data-ng-bind="inputOption.title"></span>
                <textarea ui-codemirror="inputOption.opts" ng-model="model.input"></textarea>
            </div>
            <div class="col-md-6 col-code">
                <span class="badge">Javascript</span>
                <textarea ui-codemirror="jsOption.opts" ng-model="model.behaviour"></textarea>
            </div>
            <div class="col-md-6 col-code">
                <span class="badge">Output</span>
                <textarea ui-codemirror="outputOption.opts" ng-model="model.output"></textarea>
            </div>
            <div class="col-md-6 col-code" style="height: 300px; border: 1px solid #eee;overflow: auto; padding: 5px">
                <span class="badge">Review</span>
                <div data-ng-show="review">
                    <div>
                        <h2 data-ng-bind="model.name"></h2>
                        <p data-ng-bind="model.description"></p>
                        <hr/>
                    </div>
                    <div dynamic-templates="dynamicInput"></div>
                    <div class="pull-right">
                        <button class="btn btn-primary" ng-click="launch()">Launch</button>
                    </div>
                    <div dynamic-templates="dynamicOutput"></div>
                </div>
            </div>
            <div class="col-sm-offset-10 col-sm-2">
                <br/>
                <button type="submit"  class="btn btn-primary" ng-click="postData(model)">Save</button>
                <button class="btn btn-danger" ng-click="postData()">Cancel</button>
                <br/>
            </div>
        </tab>
    </tabset>



</div>